/*----------------------------------
    Footer
----------------------------------*/

#footer {
    background: #33559b url(../global/background.png) 0 0 repeat-x;
    clear: both;
    color: #476FBE;
    display: block;
    font-family: Georgia, serif;
    min-width: 978px;
    padding: 115px 0 5px;
}

#footer-logo a,
#footer-logo a:link,
#footer-logo a:visited {
    background: url("../global/header-logos.png") no-repeat scroll 15px 10px transparent;
    display: block;
    height: 57px;
    width: 110px;
    text-indent: -200px;
    overflow: hidden;
    -moz-transition: background 0.2s ease-in-out;
}

#footer-logo a:hover,
#footer-logo a:active {
    background: -moz-radial-gradient(center 45deg,
                                     ellipse closest-side,
                                     rgba(255,255,255,0.3) 0%,
                                     rgba(255,255,255,0) 100%),
                url(../global/header-logos.png) 15px 10px no-repeat;
    -moz-transition: background 0.2s ease-in-out;
}

#footer a:link,
#footer a:visited {
    color: #669BE1;
    text-decoration: none;
}

#footer a:hover,
#footer a:active {
    color: #fff;
    text-decoration: underline;
}

#footer-contents {
    margin: auto;
    text-align: left;
    width: 980px;
}

.html-rtl #footer-contents,
#footer-contents[dir="rtl"] {
    text-align: right;
}

#footer-logo {
    display: inline;
    float: left;
    margin: 0 50px 0 10px;
}

.html-rtl #footer-logo {
    float: right;
    margin: 0 10px 0 50px;
}

#footer-logo a,
#footer-logo a:link,
#footer-logo a:visited {
    font-size: 28px;
    padding: 0;
}

#footer-menu,
#footer-menu ul {
    left: auto;
    list-style: none;
    margin: 0;
    padding: 0;
}

#footer-menu li {
    background: none;
    display: inline;
    float: left;
    font-weight: bold;
    list-style-type: none;
    margin: 15px 10px 0 0;
    padding: 0;
    position: relative;
    width: 115px;
}

.html-rtl #footer-menu li {
    float: right;
    margin: 15px 0 0 10px;
}

#footer-menu li a,
#footer-menu li a:link,
#footer-menu li a:visited,
#footer #lang_form label {
    color: #fff;
    font-family: MetaBlack, "Trebuchet MS", sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

#footer li li a:link,
#footer li li a:visited {
    color: #669BE1;
    font-family: Georgia, serif;
    font-size: 13px;
    font-weight: normal;
    text-transform: none;
}

#footer li li a:hover,
#footer li li a:active {
    color: #fff;
}

#footer-menu ul li ul {
    margin: 4px 0 15px;
}

#footer-menu li.last {
    margin-right: 0;
}

.html-rtl #footer-menu li.last {
    margin-left: 0;
}

#footer-menu ul ul li {
    display: block;
    float: none;
    font-weight: normal;
    margin: 0;
    padding: 0 0 0.3em;
    width: auto;
}

#footer #footer-right {
    float: right;
    width: 180px;
}

.html-rtl #footer #footer-right {
    float: left;
}

#footer #lang_form {
    margin: 0 0 15px 27px;
}

.html-rtl #footer #lang_form {
    margin: 0 27px 15px 0;
}

#footer #lang_form label {
    display: block;
    margin: 10px 0 4px;
}

#footer #lang_form select {
    font-family: sans-serif;
    font-size: 11px;
    width: 140px;
}

#footer #lang_form div {
    display: inline;
}

#footer #copyright {
    clear: both;
}

#footer #copyright p {
    font-size: 85%;
    margin-bottom: 0.5em;
}

#footer #copyright a:hover,
#footer #copyright a:active {
    text-decoration: underline;
}

#footer #footer-links {
    font-size: 85%;
}
